/* Global Styles */

html,
body {
    height: 100%;
    font-size: 18px;
}

body {
    font-family: "Alegreya Sans", sans-serif;
}

.light {
    font-weight: 300;
}

.nav>li>a:focus,
.nav>li>a:hover,
.nav>li>a:active,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover{
    background-color: #286090;
}

.dropdown-menu {
    background: #286090;
    color: white;
    border: 1px solid white;
}

.dropdown-menu>li>a {
    color: white;
    cursor: pointer;
}

.dropdown-menu>li>a:hover {
    background-color: rgba(255,255,255,0.8);
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.sitenav {
    background: #153661;
    margin-bottom: 0;
}

.sitenav, .sitenav a {
    color: #ffffff;
}

.home-splash {
    height:92vh;
    background-image: url('../assets/img/capitol_dome.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
    /*background-position: 0 40%;*/
}

.jumbotron .container {
    background: rgba(255,255,255,0.4);
    width: 60%;
    padding: 20px 20px 40px 20px;
    border: 10px double white;
    color: #153661;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.call-to-act-body {
    background: rgba(255,255,255,0.6);
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.call-to-act-body h2 {
    margin-top:0;
}

.call-btn{
    background: rgba(99,149,193,0.8);
    border: 1px solid white;
    color: white;
    font-weight: 200;
}

.main-panel-headers {
    background: #153661;
    color: white;
    padding:3px;
}

.main-panel-body {
    padding-top: 8px;
    font-size: 16px;
}

.panel-box {
    height: 300px;
    position: relative;
    border: 0;
    box-shadow: none;
}

.panel-box .panel-body {
    text-align: center;
}

/*.panel-body p {*/
    /*font-size: 120%;*/
    /*padding: 5px;*/
/*}*/

.tips-list {
    line-height: 240%;
    font-size: 115%;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/*Issue page styles*/

.leading-issue-section {
    margin-bottom: 9px;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 20px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}


/* todo change font to something with bold/thin, like lato or josefin slab,  */
/* todo fix the spacing and look of panels on main */
/* todo change 'contact xxx' to uppercase, mess around with uppercase in other areas*/
/*todo fix buttons in contact sections on main page, and also call to action button*/