
    <div class="home-splash">
        <div class="call-to-act-container double-white-border lg-width">
            <div class="call-to-act-body text-center">
                <div class="input-field">
                    <h2>Week of 11/26/2016</h2>
                    <p>End the violence against North Dakota Access Pipeline protesters.</p>
                    <h3>Speak Up</h3>
                    <h4>First, enter your address to locate your congressmen:</h4>
                    <input places-auto-complete size=50
                           component-restrictions="{country:'us'}"
                           on-place-changed="placeChanged()" />
                </div>
                <div class="response-field">
                    <div class="rep-card">
                        <h2>Rep. {{rep.name}}</h2>
                        <p><small>{{rep.party}}</small></p>
                        <div class="rep-image" style="background:url({{rep.photoUrl}}) no-repeat top center;"></div>
                        <p>{{rep.website}}</p>
                        <div class="buttons">
                            <div class="highlight-buttons">
                                <button class="btn"
                                        title="(opens up modal with phone #s available to click, and template of what to say)">
                                    Call
                                </button>
                                <button class="btn">Write a Letter</button>
                            </div>
                            <div class="secondary-buttons">
                                <button class="btn">Email</button>
                                <button class="btn">Fax</button>
                                <button class="btn">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    &nbsp;Post
                                </button>
                                <button class="btn">
                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                    @ {{rep.name}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="rep-card">
        <h2>Rep. {{rep.name}}</h2>
        <p><small>{{rep.party}}</small></p>
        <div class="rep-image" style="background:url({{rep.photoUrl}}) no-repeat top center;"></div>
        <p>{{rep.website}}</p>
        <div class="buttons">
            <div class="highlight-buttons">
                <button class="btn"
                        title="(opens up modal with phone #s available to click, and template of what to say)">
                    Call
                </button>
                <button class="btn">Write a Letter</button>
            </div>
            <div class="secondary-buttons">
                <button class="btn">Email</button>
                <button class="btn">Fax</button>
                <button class="btn">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    &nbsp;Post
                </button>
                <button class="btn">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    @ {{rep.name}}
                </button>
            </div>
        </div>
    </div>