
    <div class="home-splash">

        <div class="call-to-act-container double-white-border lg-width" ng-hide="hideCallToAct">
            <div class="call-to-act-body text-center">
                <div class="input-field">
                    <h2>Latest Action Item</h2>
                    <p>End the violence against North Dakota Access Pipeline protesters.</p>
                    <h3>Speak Up</h3>
                    <h4>First, enter your address to locate your congressmen:</h4>
                    <input places-auto-complete size=50
                           component-restrictions="{country:'us'}"
                           on-place-changed="placeChanged()" />
                </div>

            </div>
        </div>

    </div>