<div class="home-container">
    <div class="jumbotron text-center home-splash">
        <h1 class="text-uppercase page-title hidden-xs">
            <svg width="100%">
                <text x="0" y="100px" font-size="120px" stroke="#fff" stroke-width="5.0" fill="transparent">
                    <tspan>Speak United</tspan>
                </text>
            </svg>
            <svg width="100%" class="page-subtitle">
                <text x="0" y="50px" font-size="30px" stroke="#fff" stroke-width="1.5" fill="transparent">
                    <tspan>Our Voice Will Be Heard</tspan>
                </text>
            </svg>
        </h1>
        <div class="container call-to-act-container double-white-border">
            <div class="call-to-act-body">
                <h2>Week of 11/26/2016</h2>
                <p>End the violence against North Dakota Access Pipeline protesters.</p>
                <a href="#!/call_to_action"><button class="btn btn-lg call-btn">Speak Up</button></a>
            </div>
        </div>
    </div>


    <!--<div class="container">-->

        <!--<div class="row">-->
        <!--<div class="col-md-4">-->
            <!--<div class="panel panel-box main-panels">-->
                <!--<div class="panel-heading main-panel-headers">-->
                    <!--<h4 class="text-center text-uppercase">Contact Representatives</h4>-->
                <!--</div>-->
                <!--<div class="panel-body main-panel-body">-->
                    <!--<p class="light">Contact information for members of the US House of Representatives. Quickly find your Representative using your address.</p>-->
                    <!--<div class="text-center">-->
                        <!--<a href="#" class="btn btn-info">Contact Reps</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<div class="panel panel-box main-panels">-->
                <!--<div class="panel-heading main-panel-headers">-->
                    <!--<h4 class="text-center text-uppercase">Contact Senators</h4>-->
                <!--</div>-->
                <!--<div class="panel-body main-panel-body">-->
                    <!--<p class="light">Contact information for members of the US Senate.</p>-->
                    <!--<div class="text-center">-->
                        <!--<a href="#" class="btn btn-info">Contact Senators</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<div class="panel panel-box main-panels">-->
                <!--<div class="panel-heading main-panel-headers">-->
                    <!--<h4 class="text-center text-uppercase">Issues</h4>-->
                <!--</div>-->
                <!--<div class="panel-body main-panel-body">-->
                    <!--<p class="light">A collection of call scripts for current issues.</p>-->
                    <!--<div class="text-center">-->
                        <!--<a href="#" class="btn btn-info">See Issues</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--<div class="container">-->

        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <!--<h2>Want to reach your elected representatives on a specific issue?</h2>-->
                <!--<p>Start typing your address to locate your representative:</p>-->
                <!--<input places-auto-complete size=80-->
                       <!--ng-model="address"-->
                       <!--component-restrictions="{country:'us'}"-->
                       <!--on-place-changed="placeChanged()" />-->
                <!--<p>{{address}}</p>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
</div>