<div class="home-container">
    <div class="jumbotron text-center home-splash">
    <div class="container">
        <h1 class="text-uppercase">Call to Action</h1>
        <div class="call-to-act-body">
            <h2>Week of 11/26/2016</h2>
            <p>End the violence against North Dakota Access Pipeline protesters.</p>
            <button class="btn btn-lg call-btn">Call to Action Button</button>
        </div>
    </div>
</div>

    <!-- Page Content -->
    <div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-box main-panels">
                <div class="panel-heading main-panel-headers">
                    <h4 class="text-center text-uppercase">Contact Representatives</h4>
                </div>
                <div class="panel-body main-panel-body">
                    <p class="light">Contact information for members of the US House of Representatives. Quickly find your Representative using your address.</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-info">Contact Reps</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-box main-panels">
                <div class="panel-heading main-panel-headers">
                    <h4 class="text-center text-uppercase">Contact Senators</h4>
                </div>
                <div class="panel-body main-panel-body">
                    <p class="light">Contact information for members of the US Senate.</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-info">Contact Senators</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-box main-panels">
                <div class="panel-heading main-panel-headers">
                    <h4 class="text-center text-uppercase">Issues</h4>
                </div>
                <div class="panel-body main-panel-body">
                    <p class="light">A collection of call scripts for current issues.</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-info">See Issues</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.row -->

</div><!-- /.container -->
</div>