
<div class="home-splash">

    <!--todo remove-->

    <div class="rep-container double-white-border">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Your Representatives:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" ng-repeat="rep in reps">
                <div class="rep-card">
                    <h3>
                        <span ng-show="rep.type === 'house' " >Rep. </span>
                        <span ng-show="rep.type === 'senate' " >Sen. </span>
                        {{rep.name}}
                        <span ng-show="rep.party === 'Democratic' ">(D)</span>
                        <span ng-show="rep.party === 'Republican' ">(R)</span>
                    </h3>
                    <div class="rep-image">
                        <img ng-src="{{rep.photoUrl}}">
                    </div>
                    <div class="buttons">
                        <div class="highlight-buttons">
                            <button class="btn"
                                    title="(opens up modal with phone #s available to click, and template of what to say)">
                                Call
                            </button>
                            <button class="btn">Write a Letter</button>
                        </div>
                        <div class="secondary-buttons">
                            <button class="btn">Email</button>
                            <button class="btn">Fax</button>
                            <button class="btn">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                &nbsp;Post
                            </button>
                            <br>
                            <button class="btn">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                @ {{rep.name}}
                            </button>
                            <button class="btn">
                                Visit Website
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>